.headerTitle {
    font-weight: bold;

    div {
        width: 200px;
        display: inline-block;
    }
}

.addMenu {
    @inputWidth: 420px;
    @inputHeight: 24px;
    @inputColor: #4F4F4F;

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
    }

    input {
        width: @inputWidth;
        height: @inputHeight;
        color: @inputColor;
    }

    select {
        width: @inputWidth;
        height: @inputHeight*1.5;
        color: @inputColor;
    }

    div.subText {
        font-size:11px;
        display:block !important;
        margin-left:26em;
        margin-top:4em;
    }
}

.iit-QsContent {
    table {

        td {
            padding: 6px 12px 6px 12px;
            background-color:#fff;
                border-bottom: 1px solid #c9c9c9;
                border-right: 1px solid #c9c9c9;

        }

        th {
            background: -webkit-linear-gradient(top, #fff 0%,#f0f2f1 100%);
            color: #333;
            padding: 6px 12px 6px 12px;
            border: 0;
            border-bottom: 1px solid #c9c9c9;
            border-right: 1px solid #c9c9c9;
            font-weight:bold;
        }
        tr.odd td {
            background-color: #F2F2F2;
        }
    }
}